/* GOOGLE FONT IMPORT [UBUNTU] */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400&display=swap");

/* VARIABLES */
:root {
	--gray: #252525;
	--dark-blue: #263748;
	--light-blue: #54bdff;
	--border: 1px solid var(--light-blue);
	--radius: 10px;
}

/* DEFAULTS */
* {
	margin: 0;
	padding: 0;
	color: #fff;
	box-sizing: border-box;
	font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

body {
	height: auto;
	width: 100vw;
	background-color: var(--gray);
	overflow-x: hidden;
	flex-direction: column;
	align-items: center;
}

h1 {
	text-align: center;
	width: 30%;
	margin: 2rem 0 3rem 0;
	font-weight: 300;
	border-bottom: var(--border);
}

/* ALL ELEMENTS WITH DISPLAY: FLEX; */
body,
.btns,
.big-btns,
.small-btns {
	display: flex;
}

/* CONTAINER */
.container {
	height: fit-content;
	width: 40%;
	background-color: var(--dark-blue);
	border: var(--border);
	border-radius: var(--radius);
	overflow: hidden;
}

/* DISPLAYS */
.displays {
	width: 100%;
	height: 6rem;
	padding: 1rem;
	text-align: right;
	background-color: var(--gray);
	border-bottom: var(--border);
}

.upper-display {
	height: 40%;
	width: 100%;
	font-weight: 200;
}

.lower-display {
	height: 50%;
	width: 100%;
	font-size: 2rem;
}

/* BUTTONS */
.btns {
	height: calc(100% - 6rem);
	width: 100%;
	padding: 0.5rem;
	flex-direction: column;
	align-items: center;
}

button {
	cursor: pointer;
	font-size: 2rem;
	font-weight: 200;
	background-color: var(--gray);
	border: var(--border);
	border-radius: var(--radius);
	transition: all 0.15s linear;
}

button:hover {
	font-weight: 400;
	box-shadow: 0 0 0.5rem var(--light-blue);
}

button:active {
	transform: scale(0.9);
}

/* LARGE BTNS (CLEAR & DELETE) */
.big-btns {
	width: 100%;
}

.big-btns button {
	height: 3rem;
	width: 45%;
	margin: 0.5rem auto;
}

/* SMALL BTNS */
.small-btns {
	flex-wrap: wrap;
	justify-content: space-around;
}

.small-btns button {
	height: 4rem;
	width: 20%;
	margin: 0.5rem;
}
